<html>
	<head>
	</head>
	<body>
		<div class="header">
			This is the page where you add reservations.
		</div>
		
		<form action="" method="post">
    	<label for="name">Enter name: </label>
     	<input id="name" type="text" name="name_field" value="">
		</form>
		<form action="" method="post">
    	<label for="date">Enter date of reservation (mm/dd/yyyy): </label>
     	<input id="date" type="text" name="name_field" value="">
		</form>
		<form action="" method="post">
    	<label for="numPeople">Enter how many people will be on the tour (eg: 13): </label>
     	<input id="numPeople" type="text" name="name_field" value="">
		</form>
		<form action="" method="post">
    	<label for="time">Enter the desired time of tour (eg: 12:43 PM): </label>
     	<input id="time" type="text" name="name_field" value="">
		</form>
	</body>
</html>