{% load static %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
	</head>
	<body>
		<div class="header">
			<div class="container">
				Visit Maker
			</div>
			<div class="nav">
					<ul>
						<li><a href= "/home/">Home </a> </li>
						<li><a href= "/reservHome/">Reservations</a></li>
						<li>Contact Us</li>
					</ul>
			</div>
		</diV>

		<div class="picture">
			<div class="container">
				Welcome to Visit Maker!
				<img src= "{%static 'images/ifIHadOne.jpg' %}">
			</div>
		</div>

		<div class="footer">
		</div>
	</body>
</html>